<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreaak.cards">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".CardsApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Notebook -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="650768443623-d9vhv3hpitf0tvenlubc2740m1vcmkgp.apps.googleusercontent.com" /> -->


        <!-- Home -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="650768443623-r99bdpuo4hr0bh7cslb4v25u6s1jbooe.apps.googleusercontent.com" /> -->


        <!-- Work -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="650768443623-nlhuqffv4l7a2k3el9tupriill7c8n1u.apps.googleusercontent.com" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LessonChooseActivity"
            android:label="@string/select_lessons"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.LessonChooseActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.CardActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight">
            <action android:name="com.andreaak.cards.activities.CardActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.SelectLessonAndLanguageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.SelectLessonAndLanguageActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.SelectLanguageActivity"
            android:label="@string/select_language"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.SelectLanguageActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/preferences"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.SettingsActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.EditWordActivity"
            android:label="@string/edit_word"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.EditWordActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.VerbActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight">
            <action android:name="com.andreaak.cards.activities.VerbActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.VerbChooseActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.VerbChooseActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.GrammarChooserActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.GrammarChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".activities.HtmlActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activities.HtmlActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <!-- Shared -->
        <activity
            android:name="com.andreaak.common.activitiesShared.FileChooserActivity"
            android:label="@string/select_file"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activitiesShared.FileChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.andreaak.common.activitiesShared.FileChooserWithButtonsActivity"
            android:label="@string/select_file"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activitiesShared.FileChooserWithButtonsActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.andreaak.common.activitiesShared.DirectoryChooserActivity"
            android:label="@string/select_directory"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activitiesShared.DirectoryChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.andreaak.common.activitiesShared.GoogleFilesChooserActivity"
            android:label="@string/select_google_file"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.activitiesShared.GoogleFilesChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
    </application>

</manifest>