<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreaak.cards">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.andreaak.cards.CardsApplication">

        <!--Notebook-->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="650768443623-d9vhv3hpitf0tvenlubc2740m1vcmkgp.apps.googleusercontent.com" />-->

        <!--Home-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="650768443623-r99bdpuo4hr0bh7cslb4v25u6s1jbooe.apps.googleusercontent.com" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileChooserActivity"
            android:label="Choose Database File"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.FileChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".DirectoryChooserActivity"
            android:label="Choose Download Directory"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.DirectoryChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".GoogleFilesChooserActivity"
            android:label="Choose Database Files"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.GoogleFilesChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Preferences"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.SettingsActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".CardActivity"
            android:label="Cards"
            android:theme="@style/Theme.AppCompat.DayNight">
            <action android:name="com.andreaak.cards.CardActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".SelectLessonAndLanguageActivity"
            android:label="Choose Lesson"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.SelectLessonAndLanguageActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".CardChooseActivity"
            android:label="Choose one"
            android:theme="@android:style/Theme.Holo">
            <action android:name="com.andreaak.cards.CardChooseActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

    </application>

</manifest>